*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
}

/* ==========[HEADER]========== */
header{
    width: 100%;
    height: 110px;
    background-color: #FCFFFB;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 9999;
}

header .konten{
    width: 95%;
    display: flex;
    align-items: center;
    column-gap: 80px;
    margin: auto;
}

/* ==========[LOGO]========== */
.konten .logo img{
    width: 140px;
    height: 42px;
}

/* ==========[MAIN-MENU]========== */
.main li{
    float: left;
}

.main li a{
    color: #02435F;
    font-size: 15px;
    margin-right: 35px;
    padding-bottom: 30px;
}

.main li a:hover{
    color: #C36531;
    transition: 0.4s ease;
}

/* ==========[SUB-MENU]========== */
.submenu{
    display: none;
    position: absolute;
    background-color: #FCFFFB;
    margin-top: 30px;
}

.main li:hover .submenu{
    display: block;
}

.submenu li{
    float: none;
    padding: 15px 15px;
}

.submenu li a{
    font-size: 13px;
}

/* ==========[INFO]========== */
.info{
    position: absolute;
    right: 80px;
    width: 310px;
    height: 35px;
}

/* ==========[KONTAK]========== */
.info .kontak{
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    color: #02435F;
}

.info .kontak p{
    float: right;
    padding-left: 10px;
    color: #02435F;
}

/* ==========[SOSMED]========== */
.info .sosmed{
    float: right;
    display: flex;
    align-items: center;
    padding: 5px 0 5px 20px;
    border-left: 1px solid #02435F;
}

.info .sosmed a{
    margin-right: 22px;
    color: #02435F;
}

.info .sosmed a:hover{
    color: #C36531;
    transition: 0.4s ease;
}

/* ==========[SEARCH-ICON]========== */
.search-icon{
    position: absolute;
    right: 0;
    padding: 47px 32px;
    background-color: #C36531;
}
/* ==========[AKHIR HEADER]========== */

/* ==========ARTICLE========== */
article{
    width: 100%;
    height: auto;
    margin-top: 110px;
}

.s-blog-image{
    position: relative;
    width: 100%;
    height: 465px;
}

.s-blog-image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(90%);
}

.s-blog-image .justify-content{
    position: relative;
    width: 100%;
    height: 465px;
    display: flex;
    align-items: center;
    text-align: center;
}

.justify-content .image-content{
    width: 100%;
    height: auto;
    justify-content: center;
}

.justify-content .image-content h3{
    font-size: 84px;
    color: #FCFFFB;
    font-family: 'Kaushan Script', cursive;
}

.justify-content .image-content p{
    font-size: 20px;
    font-weight: 500;
    color: #FCFFFB;
    margin-top: 5px;
    padding: 15px 0;
}

/* ==========BLOG-SECTION========== */
.blog-section{
    padding: 100px 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    column-gap: 60px;
    background-color: #FCFFFB;
}

/* ==========BLOG-SECTION-KIRI========== */
.konten-blog{
    width: 720px;
    height: auto;
    margin-bottom: 55px;
}

.konten-blog img{
    width: 690px;
    height: 345px;
    object-fit: cover;
}

.blog-article{
    width: 690px;
    height: auto;
    padding: 50px 0;
}

.blog-article h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.blog-article ul{
    width: 100%;
    margin-bottom: 60px;
}

.blog-article ul li{
    float: left;
}

.category{
    margin-right: 10px;
    border-right: 1px solid #02435F;
}

.blog-article a{
    padding-right: 10px;
    color: #02435F;
}

.blog-article .blog-details p{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
    color: rgb(78, 78, 78);
}

.blog-article .quotes{
    width: auto;
    margin: 25px 0;
    padding: 25px 25px 25px 60px;
    background-color: #D6FFC8;
}

.blog-article .quotes p{
    width: 549px;
    color: #1651FF;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    padding: 25px 25px 25px 30px;
    background-color: #FCFFFB;
    border-left: 2px solid #1651FF;
}

/* ==========TOP-NAV========== */
.top-nav{
    width: 690px;
    height: auto;
    padding: 14px 0;
    border-top: 1px solid #02435F;
    border-bottom: 1px solid #02435F;
}

.top-nav .justify-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav .justify-top .like{
    display: flex;
    color: #02435F;
}

.top-nav .justify-top .like p{
    padding: 0 8px;
}

.sosmed-icon ul li{
    float: left;
    padding: 8px;
}

.sosmed-icon ul li a{
    color: #02435F;
}

/* ==========NAV-AREA========== */
.nav-area{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 15px;
}

/* ==========PREVIOUS========== */
.nav-area .prev{
    width: 319px;
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.nav-area .prev img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.prev .ket p{
    width: 180px;
    font-size: 16px;
    color: #02435F;
    margin-bottom: 10px;
}

.prev .ket h4{
    width: 180px;
    font-size: 18px;
    font-weight: 500;
}

#left{
    position: absolute;
    color: white;
    width: 30px;
    height: 30px;
    display: none;
}

.prev:hover h4{
    color: #31C365;
}

.prev:hover img{
    filter: brightness(60%);
    transition: 0.4s ease;
}

/* ==========NEXT========== */
.nav-area .next{
    width: 319px;
    display: flex;
    column-gap: 20px;
    justify-content: right;
    align-items: center;
    text-align: right;
}

.nav-area .next img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.next .ket p{
    width: 180px;
    font-size: 16px;
    color: #02435F;
    margin-bottom: 10px;
}

.next .ket h4{
    width: 180px;
    font-size: 18px;
    font-weight: 500;
}

#right{
    position: absolute;
    color: white;
    width: 30px;
    height: 30px;
    display: none;
}

.next:hover h4{
    color: #31C365;
}

.next:hover img{
    filter: brightness(60%);
    transition: 0.4s ease;
}

/* ==========BLOG-AUTHOR========== */
.blog-author{
    width: 630px;
    height: auto;
    margin: 50px 0;
    padding: 40px 30px;
    display: flex;
    column-gap: 30px;
    background-color: #D6FFC8;
}

.blog-author img{
    width: 90px;
    height: 90px;
}

.blog-author .teks-author{
    width: 480px;
}

.blog-author .teks-author h4{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.blog-author .teks-author p{
    font-size: 15px;
    font-weight: 400;
}

/* ==========COMMENT-AREA========== */
.comment-area{
    width: 690px;
    padding: 50px 0;
    border-top: 1px solid #02435F;
}

.comment-area h4{
    font-size: 20px;
    margin-bottom: 40px;
}

.konten-comment{
    width: 100%;
    display: flex;
    column-gap: 30px;
    margin-bottom: 50px;
}

.konten-comment img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.the-comment > p{
    font-size: 15px;
    margin-bottom: 20px;
    color: rgb(78, 78, 78);
}

.commentator{
    position: relative;
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.commentator a.reply{
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    right: 0;
}

.commentator a{
    font-size: 16px;
    font-weight: 600;
    color: black;
}

/* ==========COMMENT-FORM========== */
.comment-form{
    width: 690px;
    height: auto;
    padding: 50px 0;
    border-top: 1px solid #02435F;
}

.comment-form h4{
    font-size: 18px;
    margin-bottom: 40px;
}

.comment-form .justify-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.justify-form textarea{
    width: auto;
    height: 190px;
    border-radius: 5px;
    padding: 12px 18px;
}

.justify-form .personal{
    display: flex;
    justify-content: space-between;
}

.justify-form .personal input{
    width: 296px;
    padding: 12px 12px 12px 18px;
    border-radius: 5px;
    border: 1px solid rgb(78, 78, 78);
}

.justify-form input{
    width: auto;
    padding: 12px 12px 12px 18px;
    border-radius: 5px;
    border: 1px solid rgb(78, 78, 78);
}

.justify-form .form-btn button{
    padding: 14px 44px;
    border: none;
    color: #FCFFFB;
    font-size: 16px;
    font-weight: 500;
    background-color: #C36531;
}

.justify-form .form-btn button:hover{
    background-color: #31C365;
    color: black;
    transition: 0.4s ease;
}

/* ==========BLOG-SECTION-KANAN========== */
.search-box, .category-box, .post-box, .tag-box, .feed-box, .subs-box{
    width: 320px;
    height: auto;
    padding: 30px 20px;
    margin-bottom: 35px;
    background-color: whitesmoke;
}

.col-kanan h3{
    font-size: 22px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    font-weight: 600;
    color: black;
    border-bottom: 1px solid rgb(78, 78, 78);
}

/* ==========SEARCH-BOX========== */
.search-box{
    display: flex;
    flex-direction: column;
}

.search-box .search-row{
    height: 50px;
    background-color: #FCFFFB;
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.search-box .search-row input{
    width: 240px;
    padding: 0 12px 0 20px;
    border: none;
    background-color: transparent;
}

.search-box .search-row button{
    width: 44px;
    height: 44px;
    border: none;
    color: black;
    cursor: pointer;
    background-color: transparent;
}

.search-box > button{
    height: 50px;
    background-color: #C36531;
    margin-top: 18px;
    border: none;
    color: #FCFFFB;
    font-size: 16px;
    font-weight: 600;
}

.search-box > button:hover{
    background-color: #31C365;
    color: black;
    transition: 0.5s ease;
}

/* ==========CATEGORY-BOX========== */
.category-box li#not{
    border-bottom: 1px solid rgb(78, 78, 78);
}

.category-box li a{
    display: flex;
    color: rgb(78, 78, 78);
    padding: 12px 0;
}

.category-box li a p{
    font-size: 17px;
    font-weight: 500;
}

.category-box li:hover a{
    color: #C36531;
    transition: 0.3s ease;
}

/* ==========POST-BOX========== */
.post-box .post-media{
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.post-box .post-media img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.post-box .post-media:hover img{
    width: 86px;
    height: 86px;
    filter: brightness(72%);
    transition: 0.4s ease;
}

.post-box .post-media h3{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: -4px;
    border: none;
    cursor: pointer;
}

.post-box .post-media h3:hover{
    color: #C36531;
    transition: 0.4s ease;
}

.post-box .post-media p{
    font-size: 14px;
    color: rgb(78, 78, 78);
}

/* ==========TAG-BOX========== */
.tag-box ul li{
    border: 1px solid rgb(78, 78, 78);
    width: fit-content;
    height: fit-content;
    padding: 6px 18px;
    margin-bottom: 15px;
    margin-right: 15px;
    display: inline-block;
    background-color: #FCFFFB;
}

.tag-box ul li a{
    color: rgb(78, 78, 78);
    font-weight: 500;
}

.tag-box ul li:hover{
    background-color: #C36531;
    transition: 0.4s ease;
}

.tag-box ul li:hover a{
    color: white;
    transition: 0.4s ease;
}

/* ==========FEED-BOX========== */
.feed-box ul li{
    display: inline-block;
    margin: 0 10px 10px 0;
}

.feed-box ul li img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    filter: brightness(90%);
    cursor: pointer;
}

.feed-box ul li img:hover{
    width: 96px;
    height: 96px;
    filter: brightness(50%);
    transition: 0.4s ease;
}

/* ==========SUBS-BOX========== */
.subs-box{
    display: flex;
    flex-direction: column;
}

.subs-box input{
    height: 50px;
    padding: 0 0 0 20px;
}

.subs-box button{
    height: 50px;
    margin-top: 18px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #FCFFFB;
    background-color: #C36531;
}

.subs-box button:hover{
    color: black;
    background-color: #31C365;
    transition: 0.3s ease;
}

/* ==========[FOOTER]========== */
footer{
    width: 100%;
    height: auto;
    background-color: #02435F;
}

/* ==========[TOP-FOOTER]========== */
.top-foot{
    width: 100%;
    padding: 150px 0;
}

.top-foot .justify-foot{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-foot .single-widget{
    display: flex;
    align-content: center;
    column-gap: 20px;
}

.top-foot .single-widget .konten-widget{
    width: auto;
    height: 270px;
    display: grid;
    grid-template-columns: auto auto auto;
}

/* ==========[INFO-COLUMN]========== */
.konten-widget .widget-info{
    width: 320px;
}

.widget-info .footer-logo img{
    width: 140px;
    height: 42px;
    padding-bottom: 40px;
}

.widget-info .dev-info{
    width: auto;
    height: 105px;
    line-height: 25px;
    color: #FCFFFB;
}

.widget-info .dev-info a{
    color: #FCFFFB;
    text-decoration: none;
}

.widget-info .web-sosmed{
    width: auto;
    height: 75px;
    display: flex;
    align-items: center;
}

.widget-info .web-sosmed ul li{
    list-style: none;
}

.widget-info .web-sosmed a{
    color: #FCFFFB;
    padding: 0 10px;
    text-decoration: none;
}

/* ==========[COMPANY-COLUMN]========== */
.konten-widget .company-col{
    width: 160px;
}

.konten-widget h3{
    font-size: 20px;
    padding-bottom: 45px;
    color: #FCFFFB;
}

.company-col li{
    list-style: none;
    padding: 0 130px 0 0;
    line-height: 36px;
}

.company-col li a{
    text-decoration: none;
    color: #FCFFFB;
}

/* ==========[DESTINATION-COLUMN]========== */
.konten-widget .pop-dest-col{
    width: 300px;
}

.pop-dest-col ul li{
    list-style: none;
    line-height: 36px;
    float: left;
    width: 148px;
}

.pop-dest-col ul li a{
    text-decoration: none;
    color: #FCFFFB;
}

/* ==========[IG-VIEW]========== */
.ig-view{
    width: 240px;
}

.ig-view .ig-gallery{
    display: grid;
    row-gap: 22px;
    cursor: pointer;
    grid-template-columns: auto auto auto;
}

.ig-view .ig-gallery .konten-ig{
    position: relative;
}

.ig-view .ig-gallery .konten-ig img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.ig-view .ig-gallery .konten-ig:hover img{
    filter: brightness(60%);
    width: 64px;
    height: 64px;
    transition: 0.4s ease;
}

.konten-widget a:hover{
    color: #C36531;
    transition: 0.4s ease;
}
/* ==========[AKHIR TOP-FOOTER]========== */


/* ==========BOTTOM-FOOTER========== */
.bottom-foot{
    width: 100%;
    height: 80px;
    display: flex;
    align-content: center;
}

.bottom-foot .konten-foot{
    width: 88%;
    height: auto;
    margin: auto;
    text-align: center;

    border-top: 1px solid #FCFFFB;
}

.bottom-foot .konten-foot p{
    font-size: 14px;
    padding: 27px 0;
    color: #FCFFFB;
}
/* ==========[AKHIR BOTTOM-FOOTER]========== */
/* ==========[AKHIR FOOTER]========== */